@font-face {
  font-family: "GothamSSm-XLight";
  src: url("fonts/GothamSSm-XLight.eot");
  src: url("fonts/GothamSSm-XLight.eot?#iefix") format("embedded-opentype"),
    url("fonts/GothamSSm-XLight.ttf") format("truetype"),
    url("fonts/GothamSSm-XLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "GothamSSm-XLight";
}
body {
  margin: 0;
  padding: 0;
}
h1 {
  position: relative;
  font-family: "GothamSSm-XLight";

  font-weight: 500;
  z-index: 2;
  margin: 0px;
}
h3 {
  position: relative;
  font-family: "GothamSSm-XLight";
  font-size: 3em;
  font-weight: 500;
  z-index: 2;
  margin: 0px;
  padding: 3vh;
}
.hposition {
  top: 10%;
}
.flexim {
  display: flex;
}
.backmovement {
  background-image: url("check/2.jpg");
  animation: move 30s linear infinite;
}

.div__title {
  display: flex;
  min-height: 100vh;

  background-color: rgb(211, 204, 204);
  background-image: url("background/0903.png");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}
.article {
  position: relative;
  min-height: 100vh;
}

.article_div {
  position: relative;
  min-height: 100vh;

  top: 10vh;
}
.title_svoboda {
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  align-self: center;
  position: absolute;
  top: 3vh;
  font-size: 8em;
  padding: 3vh;
}
.title_p {
  position: relative;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  align-self: center;
  top: -10vh;
  right: -2vh;
  font-size: 2em;
  padding: 3vh;
}
.list {
  position: relative;
  font-size: 2em;
  font-weight: 300;
  z-index: 2;
  list-style-type: none;
  padding: 3vh;
}
.whight {
  color: rgb(255, 255, 255);
}

@keyframes move {
  from {
    background-position: -3840px 100%, 0 0;
  }
  to {
    background-position: 0 100%;
  }
}
@media screen and (max-width: 550px) {
  .title_svoboda {
    font-size: 3em;
  }
  .title_p {
    top: -20vh;
    right: -1vh;
    font-size: 1em;
  }
  h3 {
    font-size: 1em;
  }
  .list {
    font-size: 0.7em;
  }
  .article_div{
    top: 0vh;
  }
}
@media screen and (max-height: 320px) {
  .title_svoboda {
    font-size: 3em;
  }
  .title_p {
    top: -5vh;
    right: -1vh;
    font-size: 1em;
  }
  h3 {
    font-size: 1em;
  }
  .list {
    font-size: 0.7em;
  }
  .article_div{
    top: 0vh;
  }
}
